@import '../../assets/scss/main.scss';

.logs {
  position: absolute;
  left: 256px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #fafafa;
  width: calc(100% - 256px);
  min-height: 100vh;
  max-height: auto;

  &Top {
    position: fixed;
    width: calc(100% - 256px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 40px;
    height: 80px;

    &__title {
      color: #131c55;
      font-size: 16px;
      font-weight: 500;
    }

    &__filter {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      align-items: center;

      svg {
        cursor: pointer;
      }

      &Btns {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        &__item {
          border-radius: 12px;
          background: #4256d0;
          width: 128px;
          height: 40px;

          color: #fff;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
    }
  }

  &Content {
    background-color: #fff;
    border-radius: 12px;
    padding: 32px;
    margin: 100px 40px 40px;

    &__table {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      &Head {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        justify-content: space-between;

        &__item {
          color: #9fa6b2;
          font-size: 14px;
          font-weight: 400;
          width: 108px;
        }
      }

      &Data {
        display: flex;
        flex-direction: column;
        row-gap: 33px;
      }
    }
  }
}
