@import '../../assets/scss/main.scss';

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;

  &Block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;

    &__logo {
      width: 202px;
      height: 52px;
      margin-bottom: 20px;
    }

    &__title {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 520px;
      align-items: center;

      input {
        margin-bottom: 20px;
        border-radius: 12px;
        border: 1px solid #9fa6b2;
        width: 100%;

        color: #27272a;
        font-size: 14px;
        font-weight: 400;

        transition: all 0.1s ease-in-out;

        &::placeholder {
          color: #9fa6b2;
        }

        &:focus {
          outline: none;
          border: 1px solid #5c73db;
        }
      }

      &Email {
        padding: 16px;
      }

      &Code {
        padding: 16px;
      }

      &Pw {
        width: 100%;
        position: relative;
      }

      &Eye {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 16px;
        bottom: 35px;
        right: 16px;
        cursor: pointer;
      }

      &Password {
        padding: 16px 40px 16px 16px;
      }

      &Btn {
        margin-bottom: 30px;
        border-radius: 12px;
        background: #4256d0;
        width: 100%;
        height: 48px;

        color: #fff;
        font-size: 18px;
        font-weight: 400;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #3c4dc0;
        }
      }
    }
  }
}

.incorrect {
  &.resetBlock__formPassword {
    color: #f87171;
    border: 1px solid #f87171;

    &:focus {
      border: 1px solid #f87171;
    }
  }

  &.resetBlock__formEye {
    svg {
      path {
        fill: #f87171;
      }
    }
  }
}
