@import '../../assets/scss/main.scss';

.add_user {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
  overflow-y: hidden;

  &Form {
    border-radius: 12px;
    background: #fff;
    box-shadow: 1px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
}
