@import '../../assets/scss/main.scss';

.monitoring {
  position: absolute;
  left: 256px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #fafafa;
  width: calc(100% - 256px);
  min-height: 100vh;
  max-height: auto;

  &Top {
    position: fixed;
    width: calc(100% - 256px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 40px;
    height: 80px;

    &__title {
      color: #131c55;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &Content {
    background-color: #fff;
    border-radius: 12px;
    padding: 32px;
    margin: 100px 40px 40px;

    &__camera {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 28px;

      &Item {
        border-radius: 8px;
        aspect-ratio: auto;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
